<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="img/style.css">

    <!-- Google Translate Web Element -->
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({
            pageLanguage: 'no',
            includedLanguages: 'no,en,es,fr,de,zh-CN', // Languages to display (comma-separated)
            layout: google.translate.TranslateElement.InlineLayout.VERTICAL
        }, 'google_translate_element');
        }
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3L5DZXHKVM"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-3L5DZXHKVM');
</script>

</head>
<body>

    <nav class="navbar">
        <div class="logo"><img src="img/logo.png" class="logo"></div>
        <div id="google_translate_element"></div>
    </nav>

    <section class="content-grid">
      {{ content }}
    </section>

    <footer>
        <p>&copy; Bergens Tekniske Museum</p>
    </footer>

</body>
</html>
