/* Color Variables */
:root {
    --accent-red: #F40C33;
    --deep-green: #213c1e;
    --cream-gold: #f1cf81;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--cream-gold);
    color: var(--deep-green);
    line-height: 1.6;
}

/* Navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10%;
    background: var(--deep-green);
    color: var(--cream-gold);
    height: 5%;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--accent-red);
    padding-top: 0em;
}

a {
    color: var(--accent-red);
}

.logo {
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: 2px;
    width: 75%;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--cream-gold);
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--accent-red);
}

/* Content Grid */
.content-grid {
    padding: 80px 10%;
}

/* Footer */
footer {
    text-align: center;
    padding: 40px;
    background: var(--deep-green);
    color: var(--cream-gold);
}

p {
    padding-bottom: 0.5em;
}

/* Responsive Design */
@media (max-width: 768px) {
    .card {
        flex-direction: column;
    }
    .card img, .card-text {
        width: 100%;
    }
    .hero h1 {
        font-size: 2.5rem;
    }
}

th {
    text-align: left;
    color: var(--accent-red);
}
td {
    padding-right: 2em;
}
ul,ol {
    padding-left: 1em;
}
li::marker {
    color: var(--accent-red);
    font-weight: bolder;
}